nav#nav {
	grid-area: nav;
	margin: -0.5rem 0 0 0;
	padding: var(--module-padding);
	background: var(--module-background-colour);
}
nav#nav a,
nav#nav a:visited {
	color: var(--menu-font-colour);
	text-decoration: none;
	font-weight: normal;
	font-size: 1.4rem;

	padding: 1rem;
	display: inline-block;
}
nav#nav a:hover {
	background: var(--highlight-colour);
}
nav#nav a.active,
nav#nav a.active:hover {
	background: var(--module-background-colour);
	color: var(--unemphasized-nav);
	text-decoration: underline;
	text-underline-offset: 0.2em;
	text-decoration-thickness: 0.2em;
}
nav#nav > #navMenuToggle > input,
nav#nav span.burger {
	display: none;
	content-visibility: hidden;
}
nav#nav ul#navMenu {
	list-style-type: none;
	padding: 0;
	overflow-x:hidden;
	white-space:nowrap; 
}

nav#nav ul#navMenu li {
	display: inline;
}
