/* -----------------------------------------------
 * General + Class Stuff
 * ----------------------------------------------- */
html {
	font: 0.9em 'Atkinson Hyperlegible', sans-serif;
	--main-background-colour: #333333;
	--main-margin: 0 auto;
	--module-padding: 1rem 3rem;
	--module-background-colour: #EAEAEA;
	--highlight-colour: #00329f89;/*#006a98b5;*/
	--highlight-colour-wcag-aa-large: #00329f;
	--link-colour: #0041C7;
	--link-visited-colour: #0034A1;
	--unemphasized-nav: #696969;
	/* Prevents Landscape Text Adjustment on iOS*/
	-webkit-text-size-adjust: 100%;
}
body {
	line-height: 1.75em;
}

p,
blockquote {
	margin: 1rem 0 0 0;
	padding: 0;
}

/*Title*/
h1 {
	font-size: 1.75rem;
	color: var(--highlight-colour-wcag-aa-large);
	font-weight: bold;
}

/*Level One*/
h2 {font-size: 1.55rem;}

/*Level Two*/
h3 {font-size: 1.35rem;}

/*Level Three*/
h4 {font-size: 1.25rem;}

/*Header Spacing*/
h1,
h2,
h3,
h4 {
	margin: 0.5em 0 0.25em 0;
}

/*Level Headings left of content*/
h2,
h3,
h4 {
	margin-left: -0.125em;
}

/*Remove Duplicate Space*/
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}

/*Subheader*/
header > p {
	margin-top: -0.5em;
	margin-bottom: 0.5em;
	font-style: italic;
}

ul,
ol {
	margin: 0;
	padding: 0 0 0 1.25em;
}

/*Links*/
a {
	color: var(--link-colour);
	text-decoration: underline;
} a:visited {
	color: var(--link-visited-colour);
} a:hover {
	text-decoration: none;
}

.block {
	display: block;
}

.hide {
	display: none;
}

/* -----------------------------------------------
 * Body Area, excl. Content Area
 * ----------------------------------------------- */

body {
	background: var(--main-background-colour);
	margin: var(--main-margin);

	display: grid;
	grid-gap: 0rem;
	justify-content: center;
	align-content: center;
	max-width: 65em;
	grid-template-columns: 100%;
	grid-template-areas:
		"nav       "
		"header    "
		"before-con"
		"main      "
		"after-con "
		"footer    ";
}


section#header {
	background: var(--module-background-colour);
	padding: var(--module-padding);
}
section#header header {
	grid-area: header;
}
section#header h1 {
	width: 70%;
}

div#before-con {
	grid-area: before-con;
	background: var(--module-background-colour);
	padding: var(--module-padding);
}
#members ul {
	text-align: justify;
	padding: 0;
}
#members ul li {
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
#members ul:after {
	content: '';
	width: 100%;
	display: inline-block;
}
#members img.headshot {
	height: 20vw;
	max-height: 150px;
	border-radius: 50px;
}

div#after-con {
	grid-area: after-con;
	background: var(--module-background-colour);
	padding: var(--module-padding);
}

footer#footer {
	grid-area: footer;
	background: var(--module-background-colour);
	padding: var(--module-padding);
}

/* -----------------------------------------------
 * Content Area
 * ----------------------------------------------- */

main {
	grid-area: main;

	display: grid;
	grid-template-columns: 100%;
	grid-gap: 0rem;
	grid-template-areas:
		"con_nav    "
		"con_article"
		"con_sidebar";
	/*coloured bands only above and below*/
	background: var(--highlight-colour);
	padding: var(--module-padding);
	padding-left: 0;
	padding-right: 0;
	z-index: 0;
}

main > nav#con_nav {
	grid-area: con_nav;
	background: var(--module-background-colour);
	padding: var(--module-padding);
}

main > #con_article {
	grid-area: con_article;
	background: var(--module-background-colour);
	padding: var(--module-padding);
}

main > div#con_sidebar {
	grid-area: con_sidebar;
	background: var(--module-background-colour);
	padding: var(--module-padding);
}

/* -----------------------------------------------
 * Blog
 * ----------------------------------------------- */
#con_article > #section-summary {
	margin-bottom: 2rem;
}

#con_article img {
	max-width: 100%;
}

#con_article > section[role=list] > article[role=listitem] {
	margin-bottom: 2rem;
}
#con_article > section[role=list] > article[role=listitem]:last-child {
	margin-bottom: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--main-background-colour);
    margin: 1em 0;
    padding: 0;
}
