/*This file should only apply for screens larger than 600px wide*/
main.withSidebar {
	grid-template-columns: 72% 28%;
	grid-template-areas:
		"con_nav     con_nav"
		"con_article con_sidebar";
}

footer > div#row1 {
	display: flex;
	justify-content: space-between;
}

nav#nav ul {
	padding: 0;
	list-style-type: none;
}

#con_article.project-list > details.project > summary > img {
	/* max-width: 30vw; */
}
