{% extends "MP3DP/static.html" %}

{% block title %}{{ section.title }}{% endblock title %}
{% block content %}<article id="con_article">
	{{ section.content | safe }}
</article>{% endblock content %}


{% block header %}
<div id="before-con">
<aside id="members">
<header><h2>Members</h2></header>
<ul>
	{% set lasts = ["Chen", "Huang", "Arciszewski", "Yang",] %}
	{% for img in ["Louie", "Lucille", "Brendan", "Edward",] %}
	{% set image = resize_image(path="/media/headshots/" ~ img ~ ".jpg", width=100, height=150, op="fill") %}
	<li><img src='{{ image.url }}' class="headshot" alt="Photo of {{img}}" />
	<div>{{img}} {{lasts[loop.index0]}}</div></li>
	{% endfor %}
</ul>
</aside>
</div>
{% endblock header %}
